*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6f0;
}


.app{
    display: flex;
    height: 100%;
    
    
}
article header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


header li{
    display: inline;
    
}
header li a{
    color: #f5f6f0
}

article{
    display :flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
img {
  height: 180px;
   
}

article {
    width: 30%;
   
}
section{
    padding: 16px 0;
    max-height: 100vh;
}
section h2,
article{
    margin-bottom: 16px;
}

 article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

 article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
}